input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input::-webkit-input-placeholder:focus::-webkit-input-placeholder,
input::-moz-placeholder:focus::-webkit-input-placeholder,
input:-moz-placeholder:focus::-webkit-input-placeholder,
input:-ms-input-placeholder:focus::-webkit-input-placeholder,
input::-webkit-input-placeholder:focus ::-moz-placeholder,
input::-moz-placeholder:focus ::-moz-placeholder,
input:-moz-placeholder:focus ::-moz-placeholder,
input:-ms-input-placeholder:focus ::-moz-placeholder,
input::-webkit-input-placeholder:focus :-moz-placeholder,
input::-moz-placeholder:focus :-moz-placeholder,
input:-moz-placeholder:focus :-moz-placeholder,
input:-ms-input-placeholder:focus :-moz-placeholder,
input::-webkit-input-placeholder:focus :-ms-input-placeholder,
input::-moz-placeholder:focus :-ms-input-placeholder,
input:-moz-placeholder:focus :-ms-input-placeholder,
input:-ms-input-placeholder:focus :-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
