$s-va2 = 1256px 0px -1256px 0px 706px 574px 1962px 1075px 'sprite.png';
$s-var1 = 0px 0px 0px 0px 1256px 1075px 1962px 1075px 'sprite.png';

spriteWidth($sprite)
    width $sprite[4]

spriteHeight($sprite)
    height $sprite[5]

spritePosition($sprite)
    background-position $sprite[2] $sprite[3]

spriteImage($sprite)
    background-image url(../img/bg/$sprite[8])

sprite($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)