@import '/mixin/sprite'

*
  margin 0
  padding 0
  box-sizing border-box

p
  margin 0

ul
  list-style none

body
  background url("../img/fon_6.jpg") no-repeat
  i
    sprite($s-map)
